@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
}
<body>
    <h2>@ViewData["Title"]</h2>

    <img src="~/images/me3.jpg" />
</body>
<h3>About Me:</h3>
<p>
    My name is Alan Morrison and I am a senior at Capitol Technology University.
    I hope to graduate in December 2018 and continue onward with programming to find a career in this field.
    I have a dog Digger who is the nicest boy around. I enjoy writing stories and poems, video games, coding, marathoning movies and tv shows and solving puzzles.
    I hope to get a job in the videogame industry to help develop new titles and stories for people to enjoy.
</p>


<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>
            <a class="btn btn-default"
               href="https://www.twitter.com/rootScythe">
                Twitter
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me:</h2>
        <p>
            If you have any questions about my resume, feel free to email me at amorri126@gmail.com
            or DM me on Twitter.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Writings and Works</h2>
        <p>This site isn't mine just yet, but I plan on making this into my next project to create a blog to post my writings and other ideas</p>
        <p>
            <a class="btn btn-default"
               href="https://www.afterspace.space">
                Afterspace
            </a>
        </p>
    </div>
</div>
