@page
@model MorrisonResume.Pages.JobsModel

@{
    ViewData["Title"] = "Jobs";
}

<h2>Job Experience</h2>

<h3>
    Bakery Clerk <br />
    Safeway <br />
</h3>
<p>
    Start Date: March 2018 <br />
    End Date: October 2018 <br />
</p>
<h3>
    Clerk I <br />
    Trax at Goddard Flight Center <br />
</h3>
<p>
    Start Date: June 2015 <br />
    End Date: August 2015 <br />
</p>


<p>
    I tried to get this working with a Database using the Student, Job and Company Models and the database was successfully created. <br />
    However, I just couldn't get it to appear on this page.
    The Student database just contains me, and it links me to my previous Jobs using the Company model. <br />

    You can look at Data->DbInitializer to see the database being created and all of the information with it.
</p>
