@page
@model MorrisonResume.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
}

<h2>Alan Morrison</h2>
<p>
    141 Drexel Drive, Millersville MD 21108 <br />
    (301) 651-3466 <br />
    amorri126@gmail.com <br /> 
</p>

<h2> Education </h2>
<p>
    Bachelor of Science, Computer Science,                               <b>Expected Graduation Date: </b>December 2018 <br />
    <i>Capitol Technology University</i> <br /> 
    GPA: 3.6 / 4.0 <br />
    Dean's List Spring 2018, Fall 2017 <br />
    Major: Computer Science <br />
    Related Course Work: Android Studio, AutoCAD, Bash, C, C++, Eclipse, HTML, Java, Linux, Python, C# <br />

</p>

<h2> Work Experience</h2>
<p>
    <h3>Bakery Clerk</h3>
    <h3>&emsp; Safeway, Severna Park MD</h3>
    March 2018 to October 2018
    <ul>
        <li>Executed creative corrections when required</li>
        <li>Daily verification of refrigeration units and correction</li>
        <li>Removed all unnecessary materials from the bakery during and after the work day</li>
        <li>Organized the kitchen prior to baking shift</li>
    </ul>
    <h3>General Clerk I</h3>
    <h3>&emsp; Trax at Goddard Space Flight Center, Greenbelt MD</h3>
    June 2015 to August 2015
    <ul>
        <li>Quality tested and managed a storage database, finding glitches and vulnerabilities with user input on the database</li>
        <li>Reviews database code for errors</li>
        <li>Supported the company in relocating computer resources and equipment to other buildings</li>
        <li>Assisted IT in solving computer malfunctions and networking errors on site</li>
    </ul>
</p>

<h2>
    Volunteer Experience
</h2>
<p>
    The Greek Orthodox Church of Saint George
    <ul>
        <li>Assisted the Second Grade Sunday school, 2017-2018</li>
        <ul>
            <li>Prepared the classroom before class</li>
            <li>Helped the children during their lesson</li>
        </ul>
        <li>Prepared and cooked food in the kitchen for Feed the Hungry, 2018</li>
    </ul>
    Make a Mark, Blacksburg VA, Spring 2016
    <ul>
        <li>Set up location for event and assisted with activities to ensure the event ran smoothly</li>
    </ul>
</p>
